<h1>Secure Cloud Store</h1>
<p></p>


<div class="well">

<h3 color="black">Upload files to private cloud</h3>
<%= form_tag({action: :upload}, multipart: true) do %>
<%= file_field_tag 'file' %>
<%= submit_tag "Upload" %>
<% end %>
</div>
<div><br/>
</div>
<div class="well">
<h3>Upload or Download from Public clouds</h3>
<div class="tbl_container">
<table class="table table-striped table-hover ">

<tbody>
  	<% @dat.each do |f| %>
    <tr>
      <td><%= f.filename %></td>
      <td><%= f.created_at %></td>
      <% if f.status=="LOCAL" then %>
      			<td ><%= link_to image_tag('download.png', :class => 'toolsicon'), url_for({:controller => "home", :action => 'download', :pa => f.filename})%></td>
		      <td><%= link_to image_tag('del.png', :class => 'toolsicon'), url_for({:controller => 'home', :action => 'delete', :pa => f.filename}), data:{ confirm: 'Really want to DELETE??'}%></td>
          <% elsif f.status=="READY" then %>
           <td ><%= link_to image_tag('cloudup.jpg', :class => 'toolsicon'), url_for({:controller => "home", :action => 'dropauth'})%></td>
          
          	
       <% else %>
           <td ><%= link_to image_tag('clouddown.jpg', :class => 'toolsicon'), url_for({:controller => "home", :action => 'clddownload', :pa => f.filename})%></td>
          <% end %>
       
    </tr>
    <% end %>
    
    </tbody>
  
    </table>
</div></div>